<section class="hero is-medium">
    <div class="hero-img">
        <img src="./assets/img/hero.png" />
    </div>
    <div class="hero-body">
        <h1 class="title">Burger Town</h1>
        <h2 class="subtite">Everyone loves burgers, especially those with cheese. Keep track of the burgers you've eaten, and those you want
            to eat.</h2>
    </div>
</section>

<!--
<nav class="section">
    <ul>
        <li>Home</li>
        <li>Burgers</li>
        <li>Restaurants</li>
        <li>About</li>
    </ul>
</nav>
-->
<section class="section add-items">
    {{> add-items}}
</section>

{{#if burgers}}
<section class="section" id="main-app">
    {{> burger-list}}
</section>
{{/if}}

<footer class="footer hero is-dark">
    <section class="contaner content">
        <h4 class="subtitle">Keep on chomping!</h4>
    </section>
</footer>